<div class="modal" id="myModal">
<div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
	  <h4 class="modal-title">About</h4>
	</div>
	<div class="modal-body">
	<h4 class="modal-title" style="text-align:center">Connect</h4>
	<div class="btn-group btn-group-justified" style="text-align:center">
	  <a href="https://angeal185.github.io/" class="fa fa-2x fa-github"></a>
	  <a href="https://codepen.io/angeal185/" class="fa fa-2x fa-codepen"></a>
	  <a href="https://www.linkedin.com/in/ben-eaves-996991125" class="fa fa-2x fa-linkedin"></a>
	</div></div>
	<div class="modal-footer">
	<h4 class="modal-title" style="text-align:left">2016 Ben Eaves</h4>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
	</div>
  </div>
</div>
</div>